//圆角
box-sizing()
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
border-radius()
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  border-radius: arguments
 
  
//颜色规范
$color-background = #ffffff
$color-text = #000000
$color-text-white = #ffffff
$color-text-666 = #666666
$color-text-normal = #999999
$color-backgournd-btn = #169bd5
$color-backgournd-btn-hover = #1cacea
$color-background-blue = #d7f1fc
$color-background-orign = #fae8df
//字体规范
$font-size-small = 12px
$font-size-normal = 14px
$font-size-medium = 18px
$font-size-large = 20px

